@charset "UTF-8";/*! Pushy - v0.9.2 - 2014-9-13
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
.pushy, b, optgroup, strong {
	font-weight: 700
}
#fw-masthead.page-masthead #headerCollapsedMenu a:hover, #fw-masthead.page-masthead #headerContrastMenu a:hover, #fw-masthead.page-masthead #headerMainMenu a, #fw-masthead.page-masthead #headerMainMenu a:hover, .pushy a, .site-overlay .main-menu a:hover, a, a:visited, nav.pushy ul li a {
	text-decoration: none
}
.pushy {
	position: fixed;
	height: 100%;
	top: 0;
	z-index: 9999;
	background: #333332;
	font-size: .9em;
	-webkit-box-shadow: inset -10px 0 6px -9px rgba(0,0,0,.7);
	-moz-box-shadow: inset -10px 0 6px -9px rgba(0,0,0,.7);
	box-shadow: inset -10px 0 6px -9px rgba(0,0,0,.7);
	overflow: auto;
	-webkit-overflow-scrolling: touch
}
.pushy a {
	display: block;
	color: #b3b3b1;
	padding: 15px 30px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	border-top: 1px solid rgba(255,255,255,.1)
}
h1, h2, h3, h4, h5, h6, legend, td, th {
	padding: 0
}
img, legend {
	border: 0
}
.pushy a:hover {
	background: #00b4ff;
	color: #FFF
}
.pushy-left {
	-ms-transform: translate3d(-200px, 0, 0);
	-o-transform: translate3d(-200px, 0, 0)
}
.pushy-open {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.container-push, .push-push {
	-ms-transform: translate3d(200px, 0, 0);
	-o-transform: translate3d(200px, 0, 0)
}
#container, .push, .pushy {
	-webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
	-moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
	-o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
	transition: transform .2s cubic-bezier(.16, .68, .43, .99)
}
.site-overlay {
	display: none
}
.pushy-active .site-overlay {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9998;
	background-color: rgba(0,0,0,.5);
	-webkit-animation: fade .5s;
	-moz-animation: fade .5s;
	-ms-animation: fade .5s;
	-o-animation: fade .5s;
	animation: fade .5s
}
@keyframes fade {
0% {
opacity:0
}
100% {
opacity:1
}
}
@media screen and (max-width:768px) {
.pushy {
	font-size: 1em
}
}/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden
}
body {
	margin: 0;
	color: #71757f
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden], template {
display:none
}
a {
	background-color: transparent
}
a:active, a:hover {
	outline: 0
}
abbr[title] {
	border-bottom: 1px dotted
}
dfn {
	font-style: italic
}
mark {
	background: #ff0;
	color: #000
}
small {
	font-size: 80%
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -.5em
}
sub {
	bottom: -.25em
}
svg:not(:root) {
	overflow: hidden
}
figure {
	margin: 1em 40px
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0
}
pre, textarea {
	overflow: auto
}
code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}
button {
	overflow: visible
}
.slide-10, .slide-100, .slide-110, .slide-130, .slide-140, .slide-150, .slide-160, .slide-170, .slide-180, .slide-50, .slide-90 {
	overflow-x: hidden
}
button, select {
	text-transform: none
}
button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled], html input[disabled] {
	cursor: default
}
button::-moz-focus-inner, input::-moz-focus-inner {
border:0;
padding:0
}
input {
	line-height: normal
}
input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	padding: 0
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
height:auto
}
input[type=search] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
-webkit-appearance:none
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
@font-face {
	font-family: CiscoSansRegular;
	src: url(fonts/ciscosans/ciscosansregular-webfont.eot);
	src: local("☺"), url(fonts/ciscosans/ciscosansregular-webfont.woff) format("woff"), url(fonts/ciscosans/ciscosansregular-webfont.html) format("truetype"), url(fonts/ciscosans/ciscosansregular-webfont.svg#webfontc3ThNGPm) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: CiscoSansOblique;
	src: url(fonts/ciscosans/ciscosansregularoblique-webfont.eot);
	src: local("☺"), url(fonts/ciscosans/ciscosansregularoblique-webfont.woff) format("woff"), url(fonts/ciscosans/ciscosansregularoblique-webfont.html) format("truetype"), url(fonts/ciscosans/ciscosansregularoblique-webfont.svg#webfontsOiwxf9W) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: CiscoSansThinOblique;
	src: url(fonts/ciscosans/ciscosansthinoblique-webfont.eot);
	src: local("☺"), url(fonts/ciscosans/ciscosansthinoblique-webfont.woff) format("woff"), url(fonts/ciscosans/ciscosansthinoblique-webfont.html) format("truetype"), url(fonts/ciscosans/ciscosansthinoblique-webfont.svg#webfont3Og9Tqoc) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: CiscoSansThin;
	src: url(fonts/ciscosans/ciscosansthin-webfont.eot);
	src: local("☺"), url(fonts/ciscosans/ciscosansthin-webfont.woff) format("woff"), url(fonts/ciscosans/ciscosansthin-webfont.html) format("truetype"), url(fonts/ciscosans/ciscosansthin-webfont.svg#webfontNoLfRu5w) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: CiscoSansHeavy;
	src: url(fonts/ciscosans/ciscosansheavy-webfont.eot);
	src: local("☺"), url(fonts/ciscosans/ciscosansheavy-webfont.woff) format("woff"), url(fonts/ciscosans/ciscosansheavy-webfont.html) format("truetype"), url(fonts/ciscosans/ciscosansheavy-webfont.svg#webfont17Mn61VI) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: CiscoSansExtraLightOblique;
	src: url(fonts/ciscosans/ciscosansextralightoblique-webfont.eot);
	src: local("☺"), url(fonts/ciscosans/ciscosansextralightoblique-webfont.woff) format("woff"), url(fonts/ciscosans/ciscosansextralightoblique-webfont.html) format("truetype"), url(fonts/ciscosans/ciscosansextralightoblique-webfont.svg#webfontjZBtA7iM) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: CiscoSansExtraLight;
	src: url(fonts/ciscosans/ciscosansextralight-webfont.eot);
	src: local("☺"), url(fonts/ciscosans/ciscosansextralight-webfont.woff) format("woff"), url(fonts/ciscosans/ciscosansextralight-webfont.ttf) format("truetype"), url(fonts/ciscosans/ciscosansextralight-webfont.svg#webfontjimSh8dd) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: CiscoSansBoldOblique;
	src: url(fonts/ciscosans/ciscosansboldoblique-webfont.eot);
	src: local("☺"), url(fonts/ciscosans/ciscosansboldoblique-webfont.woff) format("woff"), url(fonts/ciscosans/ciscosansboldoblique-webfont.html) format("truetype"), url(fonts/ciscosans/ciscosansboldoblique-webfont.svg#webfont9YmnsLbY) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: CiscoSansBold;
	src: url(fonts/ciscosans/ciscosansbold-webfont.eot);
	src: local("☺"), url(fonts/ciscosans/ciscosansbold-webfont.woff) format("woff"), url(fonts/ciscosans/ciscosansbold-webfont.html) format("truetype"), url(fonts/ciscosans/ciscosansbold-webfont.svg#webfontW7V98alK) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: CiscoSansHeavyOblique;
	src: url(fonts/ciscosans/ciscosansheavyoblique-webfont.eot);
	src: local("☺"), url(fonts/ciscosans/ciscosansheavyoblique-webfont.woff) format("woff"), url(fonts/ciscosans/ciscosansheavyoblique-webfont.html) format("truetype"), url(fonts/ciscosans/ciscosansheavyoblique-webfont.svg#webfontxgJB0KFW) format("svg");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: CiscoSansLight;
	src: url(fonts/ciscosans/ciscosanslight-webfont.eot);
	src: url(fonts/ciscosans/ciscosanslight-webfontd41d.eot?#iefix) format("embedded-opentype"), url(fonts/ciscosans/ciscosanslight-webfont.woff) format("woff"), url(fonts/ciscosans/ciscosanslight-webfont.html) format("truetype"), url(fonts/ciscosans/ciscosanslight-webfont.svg#ciscosanslight) format("svg");
	font-weight: 400;
	font-style: normal
}
#fw-masthead.page-masthead #headerMainMenu .btn--blue, #fw-masthead.page-masthead #headerMainMenu .btn--white, #fw-masthead.page-masthead #headerMainMenu a {
	font-family: CiscoSansRegular, Helvetica, Arial, sans-serif
}
#slide30Section1 .split-left .content h1 .emphasize, #slide30Section1 .split-left .content h1 .line, #slide30Section2 .content h1 .line, #slide30Section4 .split .content h1 .line, .lt-ie9 .slide-80 .content h1 span, .slide-10 .split-right h1, .slide-100 h1, .slide-110 h1, .slide-120 .split-right h1, .slide-130 .split-right h1, .slide-140 .split-right h1, .slide-150 .split-right h1, .slide-160 .split-right h1, .slide-170 .split-left .content h1, .slide-170 .split-right .content h1, .slide-60 .content h1 .emphasize, .slide-80 .content h1 span, .slide-90 .split-right h1, body, h1, h2, h3, h4, h5, h6, p {
	font-family: CiscoSansThin, Helvetica, Arial, sans-serif;
	font-weight: 100
}
#slide30Section4 .split .content h1 .emphasize, .lt-ie9 .slide-20 #slide20Text.content h1 span, .slide-10 .split-right p, .slide-100 h1 .emphasize, .slide-110 h1 .emphasize, .slide-120 .split-right h1 .line-emphasize, .slide-160 .split-right h1 .line-emphasize, .slide-170 .split-left .content h1 .emphasize, .slide-170 .split-left .content h1 .line-in, .slide-20 #slide20Text.content h1 span, .slide-90 .split-right h1 .emphasize {
	font-family: CiscoSansThinOblique, Helvetica, Arial, sans-serif;
	font-weight: 100
}
.slide-60 .content h1 .emphasize .active {
	font-family: CiscoSansBold, Helvetica, Arial, sans-serif
}
#slide30Section2 .content h1 .emphasize, #slide30Section3 .content h1, .lt-ie9 #slide30Section3 .content h1, .lt-ie9 .slide-30 .content h1 span, .slide-30 .content h1 span, .slide-50 h1 .emphasize, .slide-80 .split-right .content h1 .emphasize {
	font-family: CiscoSansBoldOblique, Helvetica, Arial, sans-serif
}
#fw-masthead.page-masthead #headerMainMenu a, .btn--blue, .btn--blue:visited, .btn--white, .btn--white:visited {
	font-family: CiscoSansRegular, Helvetica, Arial, sans-serif
}
@font-face {
	font-family: icomoon;
	src: url(fonts/icomoon/icomoona12a.eot?l8a6ck);
	src: url(fonts/icomoon/icomoond41d.eot?#iefixl8a6ck) format("embedded-opentype"), url(fonts/icomoon/icomoona12a.html?l8a6ck) format("truetype"), url(fonts/icomoon/icomoona12a.woff?l8a6ck) format("woff"), url(fonts/icomoon/icomoona12a.svg?l8a6ck#icomoon) format("svg");
	font-weight: 400;
	font-style: normal
}
[class*=" icon-"], [class^=icon-] {
font-family:icomoon;
speak:none;
font-style:normal;
font-weight:400;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale
}
.icon-icomoon-logo:before {
	content: "\e600"
}
.icon-icomoon-chat:before {
	content: "\e601"
}
.icon-icomoon-share:before {
	content: "\e602"
}
@font-face {
	font-family: icomoon-mb;
	src: url(fonts/icomoon/icomoon-mb752b.eot?l3ac22);
	src: url(fonts/icomoon/icomoon-mbd41d.eot?#iefixl3ac22) format("embedded-opentype"), url(fonts/icomoon/icomoon-mb752b.html?l3ac22) format("truetype"), url(fonts/icomoon/icomoon-mb752b.woff?l3ac22) format("woff"), url(fonts/icomoon/icomoon-mb752b.svg?l3ac22#icomoon-mb) format("svg");
	font-weight: 400;
	font-style: normal
}
[class*=" icon-mb-"]:before, [class^=icon-mb-] {
font-family:icomoon-mb;
speak:none;
font-style:normal;
font-weight:400;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale
}
.icon-mb-arrow-right4:before {
	content: "\edbb"
}
.icon-mb-arrow-left4:before {
	content: "\edc3"
}
.icon-mb-menu:before {
	content: "\e600"
}
.icon-mb-bubble:before {
	content: "\e601"
}
.icon-mb-google-plus2:before {
	content: "\e602"
}
.icon-mb-facebook2:before {
	content: "\e603"
}
.icon-mb-twitter2:before {
	content: "\e604"
}
.icon-mb-linkedin:before {
	content: "\e605"
}
.icon-mb-share2:before {
	content: "\e606"
}
@keyframes pulse {
0%, 100% {
-webkit-transform:scale(1);
-moz-transform:scale(1);
-o-transform:scale(1);
-ms-transform:scale(1);
transform:scale(1)
}
50% {
-webkit-transform:scale(.8);
-moz-transform:scale(.8);
-o-transform:scale(.8);
-ms-transform:scale(.8);
transform:scale(.8)
}
}
@-moz-keyframes pulse {
0%, 100% {
-moz-transform:scale(1);
transform:scale(1)
}
50% {
-moz-transform:scale(.8);
transform:scale(.8)
}
}
@-webkit-keyframes pulse {
0%, 100% {
-webkit-transform:scale(1);
transform:scale(1)
}
50% {
-webkit-transform:scale(.8);
transform:scale(.8)
}
}
@-ms-keyframes pulse {
0%, 100% {
-ms-transform:scale(1);
transform:scale(1)
}
50% {
-ms-transform:scale(.8);
transform:scale(.8)
}
}
a, a:visited {
	color: #089FD6
}
.no-touch a:hover, .no-touch a:visited:hover {
	color: #067aa5
}
.layout-split .split-left h1, .layout-split .split-left h2, .layout-split .split-left h3, .layout-split .split-left h4, .layout-split .split-left h5, .layout-split .split-left h6, .layout-split .split-left p, .mfp-close-btn-in .mfp-close {
	color: #fff
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-size: 16px
}
p {
	font-size: 14px;
	line-height: 1.4;
	margin-bottom: 20px
}
.video-module .video-player .video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: #000
}
.lightbox-popup {
	position: relative;
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;
	z-index: 100000
}
.mfp-bg {
	background: #000;
	opacity: .35!important
}
.mfp-close {
	right: 25px!important;
	top: -40px!important
}
.mfp-close:active {
	top: -39px
}
.full-image {
	width: 100%
}
.layout-split {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	background: #089FD6
}
@media (min-width:37.5em) {
.layout-split {
	flex-direction: row;
	height: 100vh
}
}
.lt-ie9 .layout-split {
	flex-direction: row;
	height: 100vh
}
.layout-split .split {
	display: flex;
	flex: none;
	align-items: center;
	height: 50vh;
	width: 100vw
}
@media (min-width:37.5em) {
.layout-split .split {
	height: 100%;
	width: 50vw
}
}
.lt-ie9 .layout-split .split {
	height: 100%;
	width: 50vw
}
.layout-split .split .content {
	margin: 10px 15%;
	box-sizing: border-box;
	width: 100%
}
.layout-split .split-left {
	color: #fff;
	background: #089FD6
}
.layout-split .split-right {
	color: #39393b;
	background: #fff
}
.layout-split .split-right h1, .layout-split .split-right h2, .layout-split .split-right h3, .layout-split .split-right h4, .layout-split .split-right h5, .layout-split .split-right h6, .layout-split .split-right p {
	color: #39393b
}
.btn--blue, .btn--blue:visited, .btn--white, .btn--white:visited {
	display: inline-block;
	padding: 12px 30px;
	border-radius: 30px;
	cursor: pointer;
	font-size: 14px
}
.btn--white, .btn--white:visited {
	background: #fff;
	color: #0095d5!important
}
.no-touch .btn--white:hover, .no-touch .btn--white:visited:hover {
	background: #efefef;
	color: #0095d5!important
}
.no-touch .btn--white:active, .no-touch .btn--white:visited:active {
	background: #fff;
	color: #0095d5!important
}
.btn--blue, .btn--blue:visited {
	background: #089FD6;
	color: #fff!important
}
.no-touch .btn--blue:hover, .no-touch .btn--blue:visited:hover {
	background: #1897d3;
	color: #fff!important;
	text-decoration: none
}
.no-touch .btn--blue:active, .no-touch .btn--blue:visited:active {
	background: #71757f;
	color: #fff!important
}
.btn--top {
	position: absolute;
	right: 0;
	bottom: -45px;
	width: 100%
}
@media (min-width:37.5em) {
.btn--top {
	width: auto;
	position: absolute;
	right: 0;
	bottom: 10px
}
}
.lt-ie9 .btn--top {
	width: auto;
	position: absolute;
	right: 0;
	bottom: 10px
}
.btn--top i {
	display: block;
	width: 35px;
	height: 35px;
	margin: 0 auto
}
.e-container, .e-panel {
	position: absolute;
	height: 100%;
	top: 0
}
@media (min-width:37.5em) {
.btn--top i {
	margin: 0
}
}
.lt-ie9 .btn--top i {
	margin: 0
}
.e-container {
	right: -50%;
	width: calc(50vw - 17px)
}
.e-panel {
	right: 0;
	width: 100%;
	z-index: 999;
	background: #39393b;
	padding-top: 100px
}
.e-inner {
	width: 80%;
	height: calc(80% - 100px);
	padding: 10%
}
.e-image {
	display: block;
	padding-bottom: 20px
}
.e-image img {
	background-color: #fff;
	padding: 10px
}
.e-panel p {
	font-size: 18px;
	color: #fff
}
#fw-masthead.page-masthead {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px!important;
	z-index: 1000;
	background: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,.1)
}
@media (min-width:48em) {
#fw-masthead.page-masthead {
	height: 100px!important;
	-webkit-transition: all .6s cubic-bezier(.25, .46, .45, .94);
	transition: all .6s cubic-bezier(.25, .46, .45, .94);
	transition-property: height, background-color
}
#fw-masthead.page-masthead.collapsed {
	height: 70px!important;
	background-color: rgba(255,255,255,.98)
}
}
.lt-ie9 #fw-masthead.page-masthead {
	height: 100px!important;
	-webkit-transition: all .6s cubic-bezier(.25, .46, .45, .94);
	transition: all .6s cubic-bezier(.25, .46, .45, .94);
	transition-property: height, background-color
}
.lt-ie9 #fw-masthead.page-masthead.collapsed {
	height: 70px!important;
	background-color: rgba(255,255,255,.98)
}
#fw-masthead.page-masthead #headerContent {
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	font-size: 14px;
	height: 100%;
	padding: 9px 0
}
.lt-ie9 #fw-masthead.page-masthead #headerContent {
	height: 100%;
	padding: 0 20px
}
#fw-masthead.page-masthead #headerMainMenu {
	align-self: flex-start;
	margin: 0 auto;
	text-align: center;
	height: 100%
}
@media (min-width:48em) {
#fw-masthead.page-masthead #headerContent {
	height: 100%;
	padding: 0 20px
}
#fw-masthead.page-masthead #headerMainMenu {
	flex: 1 auto;
	text-align: left
}
}
.lt-ie9 #fw-masthead.page-masthead #headerMainMenu {
	flex: 1 auto;
	text-align: left
}
#fw-masthead.page-masthead #headerMainMenu ul {
	display: flex;
	align-items: center;
	height: 100%
}
#fw-masthead.page-masthead #headerMainMenu .header-logo {
	padding-right: 20px
}
#fw-masthead.page-masthead #headerMainMenu .icon-icomoon-logo {
	color: #04A1D8;
	font-size: 28px
}
.lt-ie9 #fw-masthead.page-masthead #headerMainMenu .icon-icomoon-logo {
	font-size: 32px
}
#fw-masthead.page-masthead #headerMainMenu .site-menu-item {
	display: none;
	padding: 0 24px
}
@media (min-width:48em) {
#fw-masthead.page-masthead #headerMainMenu .icon-icomoon-logo {
	font-size: 32px
}
#fw-masthead.page-masthead #headerMainMenu .site-menu-item {
	display: flex;
	align-items: center;
	height: 100%;
	box-sizing: border-box
}
#fw-masthead.page-masthead #headerMainMenu .site-menu-item.active {
	border-bottom: 5px solid #089FD6
}
#fw-masthead.page-masthead #headerMainMenu .site-menu-item.active a {
	color: #089FD6
}
}
.lt-ie9 #fw-masthead.page-masthead #headerMainMenu .site-menu-item {
	display: flex;
	align-items: center;
	height: 100%;
	box-sizing: border-box
}
.lt-ie9 #fw-masthead.page-masthead #headerMainMenu .site-menu-item.active {
	border-bottom: 5px solid #089FD6
}
.lt-ie9 #fw-masthead.page-masthead #headerMainMenu .site-menu-item.active a {
	color: #089FD6
}
#fw-masthead.page-masthead #headerMainMenu a {
	color: #39393b
}
#fw-masthead.page-masthead #headerCollapsedMenu, #fw-masthead.page-masthead #headerContrastMenu {
	background-color: #089FD6;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	padding: 6px 0;
	text-align: center;
	width: 32px;
	height: 20px;
	margin-left: 15px;
	margin-right: 15px;
	cursor: pointer
}
#fw-masthead.page-masthead #headerCollapsedMenu .icomoon-small, #fw-masthead.page-masthead #headerContrastMenu .icomoon-small {
	font-size: 18px;
	line-height: 18px
}
#fw-masthead.page-masthead #headerCollapsedMenu .icomoon-small:before, #fw-masthead.page-masthead #headerContrastMenu .icomoon-small:before {
	color: #fff
}
#fw-masthead.page-masthead #headerCollapsedMenu:hover, #fw-masthead.page-masthead #headerContrastMenu:hover {
	background-color: #089FD6!important
}
@media (min-width:48em) {
#fw-masthead.page-masthead #headerCollapsedMenu {
	display: none
}
}
.lt-ie9 #fw-masthead.page-masthead #headerCollapsedMenu {
	display: none
}
#headerContrastMenu {
	background: url(../images/ic_contrast.html) center center no-repeat;
	background-color: #9e9ea2!important;
	background-size: 18px 18px
}
#contrastBtn {
	display: block;
	overflow: hidden;
	text-indent: -9999px
}
#contrastDropdown {
	position: absolute;
	top: 50px;
	right: 0;
	background: #fff;
	padding: 10px 20px;
	transition: all .35s linear;
	overflow: hidden;
	border-top: 1px solid #ddd
}
#contrastDropdown a {
	line-height: 30px
}
@media (min-width:48em) {
#contrastDropdown {
	top: 100px
}
#contrastDropdown.collapsed {
	top: 70px
}
}
.lt-ie9 #contrastDropdown {
	top: 100px
}
.lt-ie9 #contrastDropdown.collapsed {
	top: 70px
}
nav.pushy {
	background: #089FD6!important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	-moz-box-shadow: none!important
}
nav.pushy h2 {
	color: #fff;
	font-size: 27px;
	margin: 0;
	padding: 15px 10px;
	text-align: center
}
nav.pushy a {
	border: none!important
}
nav.pushy ul li {
	border-bottom: 1px solid #FFF
}
nav.pushy ul li a {
	line-height: 40px;
	font-size: 16px;
	padding: 5px 10px;
	text-align: left;
	vertical-align: middle;
	color: #fff!important;
	display: block;
	margin-bottom: 0
}
nav.pushy ul li a:active, nav.pushy ul li a:hover {
	background: #089FD6;
	border-left: 3px solid #fff!important;
	padding-left: 13px!important
}
.site-overlay {
	background-color: rgba(0,0,0,.25)!important
}
.site-overlay .main-menu {
	z-index: 9999;
	position: absolute;
	top: 9px;
	left: 260px;
	display: block;
	margin-left: 15px;
	background-color: #089FD6;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	padding: 6px 0;
	text-align: center;
	width: 32px;
	height: 20px
}
.slide-20, .slide-30 {
	position: relative
}
.site-overlay .main-menu .icomoon-small {
	font-size: 18px;
	line-height: 18px
}
.site-overlay .main-menu .icomoon-small:before {
	color: #fff
}
.push-push #headerCollapsedMenu {
	display: none
}
.no-touch header#fw-masthead {
	padding: 0
}
.pushy {
	width: 260px!important
}
.pushy-left {
	transform: translate3d(-260px, 0, 0)!important;
	-webkit-transform: translate3d(-260px, 0, 0)!important;
	-moz-transform: translate3d(-260px, 0, 0)!important
}
.container-push, .push-push {
	transform: translate3d(260px, 0, 0)!important;
	-webkit-transform: translate3d(260px, 0, 0)!important;
	-moz-transform: translate3d(260px, 0, 0)!important
}
.slide-10 {
	display: flex;
	width: 100%;
	height: 100vh;
	background: #fff
}
.slide-10 .split-left {
	background: url(../images/bg-1.jpg) center center no-repeat;
	background-size: cover
}
.slide-10 .split-right h1 {
	color: #939393;
	margin: 0;
	text-align: left;
	font-size: 45px;
	line-height: 1.1
}
@media (min-width:48em) {
.slide-10 .split-right h1 {
	/*font-size: 80px*/
	font-size: 42px;
}
}
.lt-ie9 .slide-10 .split-right h1 {
	font-size: 80px
}
.slide-10 .split-right p {
	color: #39393b;
	font-size: 45px;
	line-height: 1;
	text-align: right
}
@media (min-width:48em) {
.slide-10 .split-right p {
	/*font-size: 80px*/
	font-size: 46px;
	padding: 0px;
	margin: 13px 0px;
}
}
.lt-ie9 .slide-10 .split-right p {
	font-size: 80px
}
.slide-20 {
	width: 100%;
	overflow: hidden
}
.slide-20 #slide20Image {
	height: 100vh;
	background: url(../images/bg-2.jpg) center center no-repeat;
	background-size: cover
}
.slide-20 .split-left {
	background: #fff
}
.slide-20 #slide20Text.content h1 {
	color: #939393;
	font-size: 32px;
	line-height: 1.1;
	width: 100%
}
.lt-ie9 .slide-20 #slide20Text.content h1 {
	font-size: 60px
}
.lt-ie9 .slide-20 #slide20Text.content h1 span {
	display: block
}
.slide-30 .bg {
	height: 50vh
}
@media (min-width:48em) {
.slide-20 #slide20Text.content h1 {
	font-size: 40px
}
.slide-20 #slide20Text.content h1 span {
	display: block
}
.slide-30 .bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh
}
}
.lt-ie9 .slide-30 .bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh
}
#slide30Section1, #slide30Section2, #slide30Section3 {
	position: relative
}
.slide-30 .content {
	position: relative;
	height: 50vh;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	align-items: center
}
.lt-ie9 .slide-30 .content {
	height: 100vh
}
.slide-30 .content h1 {
	color: #39393b;
	font-size: 32px;
	line-height: 1.1;
	text-align: center;
	width: 100%
}
@media (min-width:48em) {
.slide-30 .content {
	height: 100vh
}
.slide-30 .content h1 {
	font-size: 42px
}
.slide-30 .content h1 span {
	display: block
}
}
.lt-ie9 .slide-30 .content h1 {
	font-size: 60px
}
.lt-ie9 .slide-30 .content h1 span {
	display: block
}
#slide30Section1 .split-left {
	background-color: #fff
}
#slide30Section1 .split-left .content {
	margin: 20% 15% 10px
}
#slide30Section1 .split-left .content h1 {
	text-align: left
}
#slide30Section1 .split-left .content h1 .emphasize {
	color: #39393b
}
#slide30Section1 .split-left .content h1 .line {
	display: block;
	color: #939393
}
#slide30Section1 .split-right {
	background: url(../images/bg-3.jpg) center center no-repeat;
	background-size: cover
}
#slide30Section2 .bg {
	background: #089FD6
}
#slide30Section2 .content h1 {
	color: #fff;
	margin: 0 10%;
	font-size: 70px
}
#slide30Section2 .content h1 .emphasize {
	text-align: right
}
#slide30Section2 .content h1 .line, #slide30Section4 .split .content h1, .slide-40 .split-left .content {
	text-align: left
}
#slide30Section3 {
	height: 100vh;
	display: flex;
	align-items: flex-end;
	background-color: #fff
}
#slide30Section3 .bg .content {
	display: none
}
#slide30Section3 .bg-1 {
	background-size: cover!important;
	background: url(../images/bg-4.jpg) center no-repeat
}
#slide30Section3 .bg-2 {
	background-size: cover!important;
	background: url(../images/bg-5.jpg) center center no-repeat
}
#slide30Section3 .bg-3 {
	background-size: cover!important;
	background: url(../images/bg-6.jpg) center center no-repeat
}
#slide30Section3 .content {
	height: auto;
	display: block;
	max-width: 1200px;
	padding-right: 100px;
	padding-bottom: 100px;
	position: absolute;
	bottom: 0;
	right: 0
}
#slide30Section4, .slide-40 {
	position: relative
}
@media (min-width:48em) {
#slide30Section3 .content h1 {
	font-size: 70px;
	text-align: left;
	color: #fff
}
#slide30Section3 .content h1.item-2, #slide30Section3 .content h1.item-3 {
	opacity: .5
}
#slide30Section3 .content h1.active {
	opacity: 1!important
}
#slide30Section3 .content h1.disable {
	opacity: .5!important
}
}
.lt-ie9 #slide30Section3 .content h1 {
	font-size: 80px;
	text-align: left;
	color: #fff
}
.lt-ie9 #slide30Section3 .content h1.item-2, .lt-ie9 #slide30Section3 .content h1.item-3 {
	opacity: .5
}
.lt-ie9 #slide30Section3 .content h1.active {
	opacity: 1!important
}
.lt-ie9 #slide30Section3 .content h1.disable {
	opacity: .5!important
}
#slide30Section4 .split .content {
	margin: 10px 5%
}
#slide30Section4 .split .content h1 .emphasize, #slide30Section4 .split .content h1 .line {
	display: block;
	color: #fff
}
#slide30Section4 .split-left {
	background: #39393b
}
#slide30Section4 .split-right .content h1 .emphasize, #slide30Section4 .split-right .content h1 .line {
	color: #939393
}
.slide-35 {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	background: #fff
}
.slide-35 #slide35Section1, .slide-35 #slide35Section2 {
	height: 100vh
}
.slide-40.slide-40-mobile {
	display: none
}
.slide-40 .split-left {
	background-color: #fff
}
.slide-40 .split-left .content {
	font-size: 70px;
	line-height: 1.1;
	color: #a9aaac;
	margin: 30% 5% 10px 15%
}
.slide-40 .split-left .content span {
	display: block;
	width: 100%
}
.slide-45, .slide-50 {
	display: flex;
	width: 100%
}
.slide-40 .split-left .content .line-1 {
	font-family: CiscoSansBold, Helvetica, Arial, sans-serif
}
.slide-40 .split-left .content .line-2 {
	font-family: CiscoSansBoldOblique, Helvetica, Arial, sans-serif;
	text-align: right
}
.slide-40 .split-right {
	background: #fff;
	position: relative
}
.slide-40 .split-right .bg {
	position: absolute;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0
}
.slide-40 .split-right .bg-1 {
	background: url(../images/bg-7.jpg) center center no-repeat;
	background-size: cover
}
.slide-40 .split-right .bg-2 {
	background: url(../images/bgg.png) center center no-repeat;
	background-size: cover
}
.slide-40 .split-right .bg-3 {
	background: url(../images/bg-8.jpg) center center no-repeat;
	background-size: cover
}
.slide-40 .split-right .bg-4 {
	background: url(../images/bgg.png) center center no-repeat;
	background-size: cover
}
.slide-40 .split-right .bg-5 {
	background: url(../images/bg-9.jpg) center center no-repeat;
	background-size: cover
}
.slide-40 .split-right .bg-6 {
	background: url(../images/bgg.png) center center no-repeat;
	background-size: cover
}
.text-dec {
	padding: 0px 61px;
	top: -250px;
}
.text-dec p {
	line-height: 24px;
	color: #fff !important;
	font-size: 18px;
	text-align: justify;
}
.slide-40 .split-right .content {
	position: relative;
	font-size: 150px;
	text-align: left;
	line-height: 1.1;
	color: #fff;
	margin: calc(326px + 30%) 0 10px;
	font-family: CiscoSansBoldOblique, Helvetica, Arial, sans-serif
}
.slide-40 .split-right .content .toggle-text, .slide-60 {
	position: absolute;
	left: 0;
	bottom: 0
}
.slide-45 {
	flex-direction: column;
	height: auto;
	background: #fff
}
.slide-45 #slide45Section1, .slide-45 #slide45Section2, .slide-45 #slide45Section3, .slide-50 {
	height: 100vh
}
.slide-50 {
	background: #089FD6;
	border-bottom: 2px solid #fff;
	align-items: center
}
.lt-ie9 .slide-50 {
	border: none;
	height: 100vh
}
.slide-50 h1 {
	text-align: center;
	color: #fff;
	font-size: 32px;
	width: 100%;
	margin: 10% 10% 0
}
@media (min-width:48em) {
.slide-50 {
	border: none;
	height: 100vh
}
.slide-50 h1 {
	font-size: 50px
}
}
@media (min-width:60em) {
.slide-50 h1 {
	font-size: 70px
}
}
.lt-ie9 .slide-50 h1 {
	font-size: 90px
}
.slide-50 h1 .line {
	display: block;
	text-align: left
}
.slide-50 h1 .emphasize {
	display: block;
	margin-top: 5%
}
.slide-60 {
	top: 0;
	right: 0;
	height: 100vh;
	width: 100%;
	background: #fff
}
.slide-60 .content, .slide-65 {
	position: relative;
	height: 100vh
}
.slide-60 .content {
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	align-items: center
}
.slide-60 .content h1 {
	text-align: center;
	color: #939393;
	font-size: 32px;
	width: 100%;
	margin: 0 10%
}
@media (min-width:48em) {
.slide-60 .content h1 {
	font-size: 50px
}
}
@media (min-width:60em) {
.slide-60 .content h1 {
	font-size: 90px
}
}
.lt-ie9 .slide-60 .content h1 {
	font-size: 90px
}
.slide-60 .content h1 .emphasize {
	display: block
}
.slide-60 .content h1 .emphasize .active {
	color: #abc63c;
	text-decoration: underline
}
.slide-60 .content h1 .emphasize .green {
	color: #abc63c
}
.slide-65 {
	display: flex;
	align-items: flex-end;
	background-color: #fff
}
.slide-70, .slide-70 .video-placeholder {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}
.slide-70 {
	height: 100vh;
	width: 100%;
	background: #555
}
.slide-75, .slide-80 .split-left {
	background: #fff
}
.slide-70 .video-placeholder {
	background-color: #fff;
	width: 1280px;
	height: 720px;
	margin: auto
}
.slide-170 .split-right, .slide-80 {
	position: relative
}
.slide-80 .split-left .content, .slide-80 .split-right .content {
	margin: 10px 5%
}
.slide-75 {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto
}
.slide-75>div {
	height: 100vh
}
.slide-80 .content {
	position: relative;
	height: 50vh;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	align-items: center
}
.lt-ie9 .slide-80 .content, .slide-100, .slide-110, .slide-120, .slide-140, .slide-150, .slide-160, .slide-170, .slide-180, .slide-90 {
	height: 100vh
}
.slide-80 .content h1 {
	color: #939393;
	font-size: 32px;
	line-height: 1.1;
	text-align: left;
	width: 100%
}
@media (min-width:48em) {
.slide-80 .content {
	height: 100vh
}
.slide-80 .content h1 {
	font-size: 42px
}
.slide-80 .content h1 span {
	display: block
}
}
.lt-ie9 .slide-80 .content h1 {
	font-size: 60px
}
.lt-ie9 .slide-80 .content h1 span {
	display: block
}
.slide-80 .split-right {
	background: #089FD6
}
.slide-80 .split-right .content h1 {
	color: #fff;
	margin-top: 15%
}
.slide-80 .split-right .content h1 .emphasize {
	text-align: right
}
.slide-90 {
	display: flex;
	width: 100%;
	background: #fff
}
.slide-90 .layout-split .split .content {
	margin: 10px 5%
}
.slide-90 .layout-split .split .content span {
	display: block;
	width: 100%
}
.slide-90 .split-left {
	background: url(../images/bg-11.jpg) center center no-repeat;
	background-size: cover
}
.slide-90 .split-right h1 {
	color: #939393;
	margin: 0;
	text-align: left;
	font-size: 35px;
	line-height: 1.1
}
@media (min-width:48em) {
.slide-90 .split-right h1 {
	font-size: 42px
}
}
.lt-ie9 .slide-90 .split-right h1 {
	font-size: 70px
}
.slide-90 .split-right h1 .emphasize {
	color: #39393b
}
.slide-100 h1, .slide-110 h1 {
	text-align: left;
	color: #fff;
	width: 100%
}
.slide-100 {
	display: flex;
	width: 100%;
	background: #089FD6;
	align-items: center
}
.slide-100 h1 {
	font-size: 40px;
	margin: 10% 5% 0
}
@media (min-width:48em) {
.slide-100 h1 {
	font-size: 60px
}
}
@media (min-width:60em) {
.slide-100 h1 {
	font-size: 70px
}
}
.lt-ie9 .slide-100 h1 {
	font-size: 100px
}
.slide-100 h1 span {
	display: block;
	width: 100%
}
.slide-100 h1 .emphasize {
	margin-bottom: 3%
}
.slide-100 h1 .from {
	font-size: .6em;
	padding-left: 70%;
	line-height: 1.2
}
.slide-110 {
	display: flex;
	width: 100%;
	background: #39393b;
	align-items: center
}
.slide-110 h1 {
	font-size: 40px;
	margin: 0 5%
}
@media (min-width:48em) {
.slide-110 h1 {
	font-size: 60px
}
}
@media (min-width:60em) {
.slide-110 h1 {
	font-size: 70px
}
}
.lt-ie9 .slide-110 h1 {
	font-size: 100px
}
.slide-110 h1 span {
	display: block;
	width: 100%
}
.slide-110 h1 .emphasize {
	text-align: right
}
.slide-120 {
	display: flex;
	width: 100%;
	overflow-x: hidden;
	background: #fff
}
.slide-120 .layout-split .split .content {
	margin: 20% 5% 10px
}
.slide-120 .layout-split .split .content span {
	display: block;
	width: 100%
}
.slide-120 .split-left {
	background: url(../images/bg-12.jpg) center center no-repeat;
	background-size: cover
}
.slide-120 .split-right h1 {
	color: #939393;
	margin: 0;
	text-align: left;
	font-size: 35px;
	line-height: 1.1
}
@media (min-width:48em) {
.slide-120 .split-right h1 {
	font-size: 50px
}
}
.lt-ie9 .slide-120 .split-right h1 {
	font-size: 65px
}
.slide-120 .split-right h1 .emphasize {
	color: #39393b
}
.slide-130 {
	display: flex;
	width: 100%;
	height: 100vh;
	background: #fff
}
.slide-130 .layout-split .split .content {
	margin: 20% 5% 10px
}
.slide-130 .layout-split .split .content span {
	display: block;
	width: 100%
}
.slide-130 .split-left {
	background: #089FD6
}
.slide-130 .split-right h1 {
	color: #939393;
	margin: 0;
	text-align: left;
	font-size: 35px;
	line-height: 1.1
}
@media (min-width:48em) {
.slide-130 .split-right h1 {
	font-size: 50px
}
}
.lt-ie9 .slide-130 .split-right h1 {
	font-size: 65px
}
.slide-130 .split-right h1 .emphasize {
	color: #39393b
}
.slide-140 {
	display: flex;
	width: 100%;
	background: #fff
}
.slide-140 .layout-split .split .content {
	margin: 20% 5% 10px
}
.slide-140 .layout-split .split .content span {
	display: block;
	width: 100%
}
.slide-140 .split-left {
	background: url(../images/bg-13.jpg) center center no-repeat;
	background-size: cover
}
.slide-140 .split-right h1 {
	color: #939393;
	margin: 0;
	text-align: left;
	font-size: 35px;
	line-height: 1.1
}
@media (min-width:48em) {
.slide-140 .split-right h1 {
	font-size: 50px
}
}
.lt-ie9 .slide-140 .split-right h1 {
	font-size: 65px
}
.slide-140 .split-right h1 .emphasize {
	color: #39393b
}
.slide-150 {
	display: flex;
	width: 100%;
	background: #fff
}
.slide-150 .layout-split .split .content {
	margin: 20% 5% 10px
}
.slide-150 .layout-split .split .content span {
	display: block;
	width: 100%
}
.slide-150 .split-left {
	background: url(../images/bg-14.jpg) center center no-repeat;
	background-size: cover
}
.slide-150 .split-right h1 {
	color: #939393;
	margin: 0;
	text-align: left;
	font-size: 35px;
	line-height: 1.1
}
@media (min-width:48em) {
.slide-150 .split-right h1 {
	font-size: 50px
}
}
.lt-ie9 .slide-150 .split-right h1 {
	font-size: 65px
}
.slide-150 .split-right h1 .emphasize {
	color: #39393b
}
.slide-160 {
	display: flex;
	width: 100%;
	background: #fff
}
.slide-160 .layout-split .split .content {
	margin: 20% 5% 10px
}
.slide-160 .layout-split .split .content span {
	display: block;
	width: 100%
}
.slide-160 .split-left {
	background: #089FD6
}
.slide-160 .split-right h1 {
	color: #939393;
	margin: 0;
	text-align: left;
	font-size: 35px;
	line-height: 1.1
}
@media (min-width:48em) {
.slide-160 .split-right h1 {
	font-size: 50px
}
}
.lt-ie9 .slide-160 .split-right h1 {
	font-size: 65px
}
.slide-160 .split-right h1 .emphasize {
	color: #39393b
}
.slide-170 {
	display: flex;
	width: 100%;
	background: #fff
}
.slide-170 .layout-split .split .content {
	margin: 10px 5%
}
.slide-170 .layout-split .split .content span {
	display: block;
	width: 100%
}
.slide-170 .split-left {
	background: #39393b
}
.slide-170 .split-left .content {
	margin-top: 30%!important
}
.slide-170 .split-left .content h1 {
	color: #fff;
	margin: 0;
	text-align: left;
	font-size: 35px;
	line-height: 1.1
}
@media (min-width:48em) {
.slide-170 .split-left .content h1 {
	font-size: 50px
}
}
.lt-ie9 .slide-170 .split-left .content h1 {
	font-size: 65px
}
.slide-170 .split-left .content h1 .line-in {
	display: inline!important
}
.slide-170 .split-right .logo {
	color: #04A1D8;
	font-size: 8em;
	display: block;
	margin: 0 auto
}
.slide-180, .slide-pin {
	display: flex;
	width: 100%;
	background: #fff
}
.slide-170 .split-right .content {
	position: absolute;
	left: 0;
	bottom: 15%;
	margin: 0!important
}
.slide-170 .split-right .content h1 {
	margin: 0;
	text-align: center;
	font-size: 10px;
	line-height: 1.1
}
@media (min-width:48em) {
.slide-170 .split-right .content h1 {
	font-size: 40px
}
}
.lt-ie9 .slide-170 .split-right .content h1 {
	font-size: 40px
}
.slide-170 .split-right .content h1 .emphasize {
	color: #939393
}
.slide-170 .split-right .content h1 .emphasize:hover {
	text-decoration: none
}
.slide-180 video {
	object-fit: cover
}
.slide-pin {
	flex-direction: column;
	height: 50vh
}
@media only screen and (max-width:1024px) {
#slide30SectionBG, .slide-65 {
	height: auto;
	width: 100%
}
#slide30Section3 .bg, .slide-60, .slide-70 {
	position: relative
}
#fw-masthead.page-masthead #headerContent {
	max-width: none;
	padding: 0 80px
}
#slide30Section3 .content h1, .slide-10 .split-right h1, .slide-10 .split-right p, .slide-40 .split-left .content {
	font-size: 50px
}
.slide-20 #slide20Text.content h1, .slide-30 .content h1, .slide-80 .content h1 {
	font-size: 30px
}
#slide40Section1 .split-left h1 .emphasize, #slide40Section1 .split-left h1 .line, .slide-120 .split-right h1, .slide-130 .split-right h1, .slide-140 .split-right h1, .slide-150 .split-right h1, .slide-160 .split-right h1, .slide-170 .split-left .content h1 {
	font-size: 35px
}
#slide30Section2 .content h1, .slide-50 h1 {
	font-size: 60px
}
.slide-40 .split-right .content {
	font-size: 120px;
	margin: calc(236px + 30%) 0 10px
}
.slide-90 .split-right h1 {
	font-size: 40px
}
.slide-100 h1, .slide-110 h1 {
	font-size: 70px
}
.slide-170 .split-right .content h1 {
	font-size: 20px
}
.slide-35 {
	display: none
}
#slide30Section3 .bg .content {
	display: block!important
}
#slide30Section3>.content {
	display: none
}
#slide30Section3 {
	align-items: baseline
}
.slide-40 {
	display: none!important
}
.slide-40-mobile {
	display: block!important
}
.slide-45 {
	display: none
}
.slide-65 {
	display: block
}
.slide-70 .video-placeholder {
	width: 854px;
	height: 480px
}
.slide-70 .video-placeholder video {
	object-fit: cover
}
.slide-75, .slide-pin {
	display: none
}
}
@media only screen and (max-width:1024px) {
.slide-30 {
	margin-bottom: 200vh
}
.slide-100 h1, .slide-110 h1 {
	font-size: 40px
}
#slide40Section1 .split-left h1 .emphasize, #slide40Section1 .split-left h1 .line, .slide-120 .split-right h1, .slide-130 .split-right h1, .slide-140 .split-right h1, .slide-150 .split-right h1, .slide-160 .split-right h1, .slide-170 .split-left .content h1 {
	font-size: 25px
}
.slide-70 .video-placeholder {
	width: 640px;
	height: 360px
}
}
#headerMainMenu ul {
	margin: 0px;
	padding: 0px
}
@media only screen and (max-width:767px) {
.e-container {
	right: -50%;
	width: calc(52.2vw - 17px);
}
#slide30Section1 .split-left .content {
	margin: 0% 0% 10px;
}
.e-panel p {
	font-size: 15px;
	color: #fff;
}
#slide30Section2 .bg {
	height: 100vh;
}
#slide30Section2 .content {
	position: relative;
	height: 50vh;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	bottom: 700px;
}
.slide-80 .split-right .content h1 {
	color: #fff;
	margin-top: -8%;
}
#slide100Text {
	font-size: 46px;
}
.slide-110 h1 {
	font-size: 48px;
}
.slide-120 .layout-split .split .content {
	margin: 0% 5% 90px;
}
.slide-130 .layout-split .split .content {
	margin: 0% 5% 90px;
}
.slide-140 .layout-split .split .content {
	margin: 0% 5% 90px;
}
.slide-150 .layout-split .split .content {
	margin: 00% 5% 90px;
}
.slide-160 .layout-split .split .content {
	margin: 00% 5% 90px;
}
#slide30Section4 .split .content {
	margin: 0px 5% 120px;
}
.slide-50 h1 {
	margin: 0% 10% 90px;
}
.slide-100 h1 {
	margin: 0% 5% 90px;
}
.slide-110 h1 {
	margin: 0 5% 90px;
}
}
@media only screen and (max-width:480px) {
#slide10Text h1, #slide10Text p {
	font-size: 30px;
}
.e-container {
	right: -50%;
	width: calc(106vw - 17px);
}
#slide30Section1Text h1 {
	font-size: 20px
}
#slide30Section2 .content h1 {
	font-size: 40px;
}
#slide30Section2 .bg {
	height: 90vh;
}
#slide30Section2 .content h1 {
	position: relative;
	top: 210px;
}
.slide-50 h1 {
	font-size: 40px;
}
.slide-80 .split-right .content h1 {
	color: #fff;
	margin-top: -100%;
	font-size: 24px;
}
.slide-90 .layout-split .split .content {
	margin: 10px 16% 120px 16%;
}
#slide30Section4Text2 h1 {
	margin: 0px 5% 80px;
	font-size: 24px;
}
#slide100Text {
	font-size: 32px;
	padding: 0px 36px 0px 0px;
}
.slide-110 h1 {
	font-size: 32px;
}
.slide-120 .split-left {
	background-position: 0px -61px;
}
.slide-170 .split-left .content {
	margin-top: -20% !important;
}
#slide30Section1 .split-left .content h1 {
	width: 192px;
}
}
@media only screen and (max-width:480px) {
}
@media only screen and (min-width:768px) and (max-width: 1280px) {
.e-container {
	right: -50%;
	width: calc(51.5vw - 17px)
}
}
